body {
  width: 100%;
  background: silver;
  font-size: 20px;
}
.container {
  width: 60%;
  border: solid 2px black;
  box-sizing: border-box;
  display: block;
  margin: 50px auto;
  height: 100vh;
}
#screen {
  font-size: 35px;
  display: block;
  margin: 0 auto;
  width: 97%;
  height: 10vh;
}
#screenShow {
  font-size: 25px;
  display: block;
  width: 30%;
  margin-left: 1%;
  float: left;
  height: 5vh;
}
#screen1,
#screen2 {
  display: none;
}
#lastResult {
  font-size: 25px;
  display: block;
  margin: 0 auto;
  width: 97%;
  height: 6vh;
}
.buttons {
width: 97%;
display: block;
margin: 0 auto;
}
button {
  font-size: 35px;
  margin: 0 auto 0;
  height: 9vh;
  margin: 1px;
  width: 32.5%;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0, 0);
  background: rgb(2, 0, 36);
background: -webkit-linear-gradient(left, rgba(2, 0, 36, 0.3) 0%, rgba(9, 9, 121, 0.3) 46%, rgba(9, 13, 123, 0.3) 47%, rgba(0, 212, 255, 1) 100%);
background: -moz-linear-gradient(left, rgba(2, 0, 36, 0.3) 0%, rgba(9, 9, 121, 0.3) 46%, rgba(9, 13, 123, 0.3) 47%, rgba(0, 212, 255, 1) 100%);
background: -o-linear-gradient(left, rgba(2, 0, 36, 0.3) 0%, rgba(9, 9, 121, 0.3) 46%, rgba(9, 13, 123, 0.3) 47%, rgba(0, 212, 255, 1) 100%);
background: linear-gradient(to right, rgba(2, 0, 36, 0.3) 0%, rgba(9, 9, 121, 0.3) 46%, rgba(9, 13, 123, 0.3) 47%, rgba(0, 212, 255, 1) 100%);
}
button:hover {
  border: 2px solid blue;
  box-sizing: border-box;
}
button:active {
  transform: scale(0.95);
}
@media all and (max-width: 1000px) {
  .container {
    width: 80vh
      padding: 10px 0;
  }
  button {
    font-size: 30px;
    width: 30%;
  }
  #screen {
    height: 6vh;
    font-size: 30px;
  }
  #screenShow,
  #lastResult {
    width: 70%;
    font-size: 20px;
    height: 4vh;
  }
  button {
    height: 8vh;
  }  
}
@media all and (max-width: 450px) {
  .container {
    width: 69vh;
    padding: 10px 0;
  }
  button {
    font-size: 20px;
    width: 29%;
  }
  #screen {
    height: 6vh;
    font-size: 20px;
  }
  #screenShow,
  #lastResult {
    font-size: 17px;
    height: 4vh;
  }
  button {
    height: 6vh;
  }  
}
